/* About Page Styles */
.about {
  padding: 2rem;
}

.about-intro {
  text-align: center;
  margin-bottom: 2rem;
}

.timeline {
  margin-bottom: 2rem;
}

.timeline ul {
  list-style: none;
  padding: 0;
}

.timeline li {
  margin-bottom: 1rem;
}

.team {
  text-align: center;
}

.team-members {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.member img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.member h3 {
  margin: 0.5rem 0 0.25rem;
}

.member p {
  margin: 0;
}